/* index.html */

body {
    margin: 0;
    background-color: #F7F3EC;
}

    /* header */

    .header-container {
        position: fixed;
        height: 100vh;
        width: 19rem;
        left: 0;
        top: 0;
    }

    .header-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: "Playfair Display", serif;
        background-color: #2E5339;
        color: #D1B98A;
        height: 100vh;
    }

    .header-container h1 {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .header-links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 1.25rem;
        height: 15rem;
    }

    .header-links a {
        color: #D1B98A;
        text-decoration: none;
    }

    .header-container button {
        font-family: "Playfair Display", serif;
        font-weight: 100;
        font-size: 1.25rem;
        background-color: #2E5339;
        border: solid 1px;
        border-color: #D1B98A;
        color: #D1B98A;
        cursor: pointer;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    /* Home */

    .home-container {
        margin-left: 19rem;
        height: 100vh;
        background-color: #C9D7C5;
        overflow: hidden;
    }

    .home-container img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    /* Stays */

    .room-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-left: 19rem;
        height: 100rem;
        padding: 1.5rem;
        gap: 1.5rem;
    }

    .outer-card {
        position: relative;
        background-color: #C9D7C5;
        width: 100%;
    }

    .outer-card img {
        width: 100%;
    }

    .inner-card {
        position: absolute;
        background-color: #F7F3EC;
        color: #3A3A3A;
        text-align: center;
        box-sizing: border-box;
        padding: 10%;
        width: 88%;
        height: 40%;
        bottom: 2.25rem;
        left: 6%;
    }

    .inner-card h2 {
        font-family: "Playfair Display", serif;
        margin-top: 0;
    }

    .inner-card p {
        font-family: "Inter", sans-serif;
    }





