/* General */

body {
    margin: 0;
    background-color: #F7F3EC;
}

a:hover {
    color: #C9D7C5 !important;
}

button:hover {
    color: #3A3A3A !important;
    background-color: #C9D7C5 !important;
}

h2 {
    font-family: "Playfair Display", serif;
}

p {
    font-family: "Inter", sans-serif;
}

li {
    font-family: "Inter", sans-serif;
}

/* Header */

.header-container {
    position: fixed;
    height: 100vh;
    width: 19rem;
    left: 0;
    top: 0;
}

.header-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: "Playfair Display", serif;
    background-color: #2E5339;
    color: #D1B98A;
    height: 100vh;
}

.header-container h1 {
    font-weight: 500;
    font-size: 1.5rem;
}

.header-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25rem;
    height: 15rem;
}

.header-links a {
    color: #D1B98A;
    text-decoration: none;
}

.header-container button {
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 1.25rem;
    background-color: #2E5339;
    border: solid 1px;
    border-color: #D1B98A;
    color: #D1B98A;
    cursor: pointer;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

/* Home */

.home-container {
    margin-left: 19rem;
    height: 100vh;
    background-color: #C9D7C5;
    overflow: hidden;
}

.home-container img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

/* Stays */

.room-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 19rem;
    height: 100rem;
    padding: 1.5rem;
    gap: 1.5rem;
}

.stays-outer-card {
    position: relative;
    background-color: #C9D7C5;
    width: 100%;
}

.stays-outer-card img {
    width: 100%;
}

.stays-inner-card {
    position: absolute;
    background-color: #F7F3EC;
    color: #3A3A3A;
    text-align: center;
    box-sizing: border-box;
    padding: 10%;
    width: 88%;
    height: 40%;
    bottom: 2.25rem;
    left: 6%;
}

.stays-inner-card h2 {
    margin-top: 0;
}

/* Dine */

.dine-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 50rem;
    margin-left: 19rem;
    padding: 1.5rem;
    gap: 1.5rem;
}

.dine-outer-card {
    position: relative;
    background-color: #C9D7C5;
    width: 100%;
}

.dine-outer-card img {
    width: 100%;
}

.dine-inner-card {
    position: absolute;
    background-color: #F7F3EC;
    color: #3A3A3A;
    text-align: center;
    box-sizing: border-box;
    padding: 8%;
    width: 84%;
    height: 40%;
    bottom: 2rem;
    left: 8%;
}

.dine-inner-card h2 {
    margin-top: 0;
}

.dine-inner-card p {
    margin-top: 0;
}

/* Meetings */

.meetings-container {
    margin-left: 19rem;
    height: calc(100vh - 3rem);
}

.meetings-outer-card {
    display: flex;
    position: relative;
    background-color: #C9D7C5;
    box-sizing: border-box;
    padding: 2rem;
    margin: 1.5rem;
    width: 96%;
    height: 100%;
}

.meetings-outer-card img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.meetings-inner-card {
    position: absolute;
    background-color: #F7F3EC;
    color: #3A3A3A;
    opacity: 0.9;
    box-sizing: border-box;
    padding: 3%;
    margin: 2rem;
    width: 25%;
    height: 81%;
    right: 0;
}

.meetings-inner-card li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Contact */

.contact-container {
    margin-left: 19rem;
    width: calc(100% - 20.5rem);
    height: calc(100vh - 1.5rem);
    color: #3A3A3A;
}

.contact-card {
    display: flex;
    margin-top: 1.5rem;
    height: calc(100vh - 3rem);  
    gap: 1.5rem;
}

.contact-right iframe {
    width: 100%;
    height: 50%;
}

.contact-right {
    background-color: #C9D7C5;
    width: 100%;
    padding: 2rem;
}

.contact-right h2 {
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}

.contact-right p {
    font-size: 1.25rem;
    text-align: center;
}

.contact-left {
    margin-left: 1.5rem;
    background-color: #C9D7C5;
    box-sizing: border-box;
    padding: 2rem;
    width: 50%;
}

.contact-left h2 {
    font-size: 1.7rem;
    font-weight: 550;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1%;
    text-underline-offset: 17.5%;
}

.contact-left-checkin {
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
}

.contact-left-checkout {
    display: flex;
    justify-content: space-between;
    font-size: 1.15rem;
}

