/* index.html */

body {
    margin: 0;
    background-color: #F7F3EC;
}

    /* header */

    .header-container {
        position: absolute;
        width: 100%;
    }

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Playfair Display", serif;
        background-color: #2E5339;
        color: #D1B98A;
        height: 5rem;
    }

    .header-container h1 {
        font-weight: 500;
        margin-left: 2.5%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        font-size: 2rem;
    }

    .header-links {
        display: flex;
        justify-content: space-around;
        width: 30%;
        font-size: 1.5rem;
    }

    .header-links a {
        color: #D1B98A;
        text-decoration: none;
    }

    .header-container button {
        margin-right: 2%;
        font-family: "Playfair Display", serif;
        font-weight: 100;
        font-size: 1.5rem;
        background-color: #2E5339;
        border-color: #D1B98A;
        color: #D1B98A;
        cursor: pointer;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /* Home */

    .home-container {
        display: flex;
        justify-content: space-between;
        background-color: #C9D7C5;
    }

    .home-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4%;
        padding: 2rem;
        gap: 2rem;
    }

    .home-grid div {
        background-color: #F7F3EC;
        border: solid 5px #A8B3A4;
        border-radius: 5%;
        padding: 2rem;
        height: 18rem;
    }

    .home-grid div h2 {
        justify-self: left;
        font-family: "Playfair Display", serif;
        font-size: 1.25rem;
        color: #3A3A3A;
        padding: 1rem;
        margin-top: 0;
    }

    .home-grid div img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        height: 20%;
    }

    .home-grid div p {
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        color: #3A3A3A;
        padding: 1rem;
        margin-bottom: none;
    }

    .home-container img {
        height: 100vh;
    }

    .bottom-strip {
        position: absolute;
        bottom: 0;
        background-color: #2E5339;
        width: 100%;
        height: 0.75rem;
    }





